@use "base/mixins" as m;
@use "base/variables" as v;

.about-content {
  @include m.tablet {
    @include m.grid(2, 2rem);
    .about-text {
      p {
        text-align: left;
      }
    }
  }
}
.about-text {
  blockquote {
    font-weight: v.$bold;
    font-size: 2.2rem;
    margin: 0;
    padding: 1rem 0 3rem 0;
  }
  p {
    text-align: center;
  }
}
