@use "base/variables" as v;

/** Media Queries **/
@mixin phone {
  @media (min-width: #{v.$phone}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{v.$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{v.$desktop}) {
    @content;
  }
}
@mixin grid($columns, $columnGap) {
  display: grid;
  gap: $columnGap;
  grid-template-columns: repeat($columns, 1fr);
}

@mixin button($bgColor, $display) {
  background-color: $bgColor;
  color: v.$white;
  font-weight: v.$semiBold;
  text-decoration: none;
  padding: 1rem 3rem;
  text-align: center;
  margin-top: calc(v.$space / 2);
  display: $display;
  border: none;

  &:hover {
    background-color: darken($bgColor, 5);
    cursor: pointer;
  }
}
